<a href="{{ path('acecommerce_admin_categorie_index') }}" class="btn btn-primary" role="button"><i
            class="fas fa-list"></i>
    Retour à la liste</a>

<a href="{{ path('acecommerce_admin_categorie_edit', { 'id': categorie.id }) }}" class="btn btn-primary"
   role="button"><i class="far fa-edit"></i> Editer</a>

<a href="{{ path('categorie_images_edit', { 'id': categorie.id }) }}" class="btn btn-primary"
   role="button"><i
            class="far fa-images"></i> Images</a>

<br/>
<br/>