{% for attribut in commandeProduit.attributs %}
    <tr>
        <td> </td>
        <td>{{ attribut }}</td>
        <td>
            {% if attribut.prixPromoHtva %}
                {{ attribut | attributPrixPromoTvac(commandeProduit.produit) }} €
            {% elseif attribut.prixHtva  %}
                {{ attribut | attributPrixTvac(commandeProduit.produit) }} €
            {% endif %}
        </td>
        <td> </td>
    </tr>
{% endfor %}