{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


    <div class="divider-new">
        <h2 class="h2-responsive">
            Me connecter
        </h2>
    </div>

    <div class="d-flex justify-content-center" id="login"></div>

    {% if error %}
        <script src="{{ asset("build/js/loginApp.js") }}"
                error='{{ error.messageKey|trans(error.messageData, 'security') }}'></script>
    {% else %}
        <script src="{{ asset("build/js/loginApp.js") }}"></script>
    {% endif %}

{% endblock %}