{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="divider-new">
        <h2 class="h2-responsive">Contact</h2>
    </div>

    Boulevard du Midi, 22<br />
    6900 Marche-en-Famenne<br />
    Responsable :<br />
    Madame Anne-Sophie Dothée<br />
    Madame Sandrine Vanden Eynden<br />
    Tél : 084 32 70 78<br />
    Courriel : adl@marche.be<br />
    <br /><br />
    {{ form(form) }}


{% endblock %}

