<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}
    <title>{% block title %}Ecommerce{% endblock %}</title>
     <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>
<body>
 <script src="{{ asset('build/js/app.js') }}"></script>
<!-- Begin page content -->
<main role="main" class="">

    <div class="container">
        <h4>Coucou</h4>

    </div>

</main>

</body>
</html>