{% if produit.ingredients | length > 0 %}
    <p class="text-muted">
        {% for ingredient in produit.ingredients %}

            {{ ingredient }}{% if not loop.last %}, {% endif %}

        {% endfor %}
    </p>
{% endif %}