{% extends 'layout.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    <div class="divider-new">
        <h2 class="h2-responsive">Les produits</h2>
    </div>

   {% include 'search/produit.html.twig' %}

    <div class="card-deck">
        {% for produit in produits %}
            <!-- Product-->
            {% include 'produit/_index_line.html.twig' with {'produit': produit} %}
        {% endfor %}
    </div>
    <!-- Grid row -->
{% endblock %}
