<a href="{{ path('acecommerce_admin_commerce_show', {'id': entity.commerce.id}) }}" class="btn btn-primary"
   role="button"><i
            class="fas fa-list"></i>
    Retour au commerce</a>

<a href="{{ path('acecommerce_admin_supplement_edit', { 'id': entity.id }) }}" class="btn btn-primary"
   role="button"><i
            class="far fa-edit"></i> Editer</a>

<br/>
<br/>