<div class="card">
    <div class="card-header">
        Les commandes n'ont pas encore été livrée
    </div>
    <div class="card-body">
        {% include 'admin/commande/_index_line.html.twig' with {'commandes':commandes} %}
    </div>
</div>