<h4>Traitement d'une commande</h4>

<div class="stepwizard">
    <div class="stepwizard-row">
         <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">1</button>
            <p>Le client a payé</p>
        </div>

        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">3</button>
            <p>Le logisticien prends en charge la commande à livrer</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled">4</button>
            <p>Livraison et fin</p>
        </div>
    </div>
</div>