<div class="btn-toolbar" role="toolbar" style="margin: 0;">
    <div class="btn-group">
        <a href="{{ path('acecommerce_admin_categorie_index') }}" class="btn btn-primary" role="button"><i
                    class="fas fa-list"></i>
            Retour à la liste</a>
    </div>
    <div class="btn-group">
        <a href="{{ path('acecommerce_admin_categorie_edit', { 'id': entity.id }) }}" class="btn btn-primary"
           role="button"><i
                    class="far fa-edit"></i> Editer</a>
    </div>
</div>
<br/>