{% extends 'layout.html.twig' %}

{% block title %}Nouvelle adresse{% endblock %}

{% block body %}

    <div class="divider-new">
        <h2 class="h2-responsive">
            Nouvelle adresse
        </h2>
    </div>

    {% include 'utilisateur/_aside.html.twig' %}
    {% include 'adresse/_form.html.twig' %}
    {% include 'utilisateur/_aside_end.html.twig' %}

{% endblock %}
