{% if is_granted('ROLE_ECOMMERCE_ADMIN') %}

    <a href="{{ path('acecommerce_admin_commande_index') }}" class="btn btn-primary" role="button"><i
                class="fas fa-list"></i>
        Retour à la liste</a>

{% endif %}

{% if is_granted('ROLE_ECOMMERCE_LOGISTICIEN') %}

    <a href="{{ path('acecommerce_logisticien_commande_livrer', {'id':commande.id}) }}"
       class="btn btn-warning"
       role="button"><i
                class="fas fa-list"></i>
        Livrer</a>
{% endif %}

<a href="{{ path('acecommerce_admin_commande_export_pdf', {'id':commande.id}) }}" class="btn btn-primary"
   role="button"><i
            class="glyphicon glyphicon-export"></i>
    Exporter</a>

<a href="{{ path('acecommerce_commande_facture_pdf', {'id':commande.id}) }}"
   class="btn btn-primary"
   role="button"><i
            class="glyphicon glyphicon-download"></i>
    Facture</a>

<br/>
<br/>