<a href="{{ path('acecommerce_admin_lieulivraison_index') }}" class="btn btn-primary" role="button"><i
            class="fas fa-list"></i>
    Retour à la liste</a>

<a href="{{ path('acecommerce_admin_lieulivraison_edit', { 'id': lieu_livraison.id }) }}" class="btn btn-primary"
   role="button"><i
            class="far fa-edit"></i> Editer</a>

<br/>
<br/>