{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Nouveau lieu de livraison</h3>
    </div>

    {{ form_start(form) }}
    {{ form_row(form) }}
    <input type="submit" value="Ajouter" class="btn btn-default"/>
    {{ form_end(form) }}

    <br /><br />
  <span class="glyphicon glyphicon-arrow-left"></span>
    <a href="{{ path('acecommerce_admin_lieulivraison_index') }}">Annuler</a>

{% endblock %}
