<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://cst.marche.be/pdf/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cst.marche.be/pdf/css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
        .rouge {
            color: #a94442;
        }

        .page-breaker {
            display: block;
            page-break-after: always;
        }

        .gras {
            font-weight: bold;
        }
    </style>
    <title>Facture commande</title>
</head>
<body>
<div class="container">
