<div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="card">
        <div class="card-body">
            {% include 'admin/produit/_detail.html.twig' %}
        </div>
    </div>
</div>