<div class="tab-pane" id="ingredients" role="tabpanel" aria-labelledby="home-tab">
    <div class="card">
        <div class="card-body">
            {% include 'admin/ingredient/_listes.html.twig' with {'ingredients': produit.ingredients} %}
        </div>
    </div>
</div>