<div class="tab-pane" id="supplements" role="tabpanel" aria-labelledby="home-tab">
    <div class="card">
        <div class="card-body">
            {% include 'admin/supplement/_listes.html.twig' with {'supplements': produit.supplements} %}
        </div>
    </div>
</div>