{% extends 'layout.html.twig' %}

{% block body %}
    <div class="divider-new">
        <h2 class="h2-responsive">Page non trouvée</h2>
    </div>

     <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('acecommerce_home') }}">return to the homepage</a>.
    </p>
{% endblock %}

