<h3>Commande numéro {{ commande.id }} en cours de livraison</h3>

Blablabla

<table class="table table-bordered">
    <tr>
        <th>Utilisateur</th>
        <td>{{ commande.user }}</td>
    </tr>
    <tr>
        <th>Lieu de livraion</th>
        <td>{{ commande.lieuLivraison }}</td>
    </tr>
    <tr>
        <th>Commerce</th>
        <td>{{ commande.commerce }}</td>
    </tr>
</table>