{% extends 'admin/layout.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Liste des commandes à livrer</h3>
    </div>

    {% include 'admin/default/dashboard_logisticien.html.twig' %}

{% endblock %}
